.Body{
    display: flex;
    color: rgb(39, 39, 38);
    margin: 0;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
}
.main-content{
    margin: 50px 10px 20px 200px ;
    position: relative;
    overflow:hidden;
    max-width: 100%;
    padding: 20px;
    transition: 0.5s all ease;

}
@media screen and (max-width : 800px){
    .main-content{
        margin: 50px 5px 20px 5px ;
        position: relative;
        overflow:hidden;
         /* height: 100%; */
        max-width: 100%;
        padding: 20px;
        /* background-color: black; */
        transition: 0.5s all ease;
    }
  }
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.link,a{
    text-decoration: none;
}